# collecting the Treasury Yield curve

In [1]:
import pandas as pd

In [ ]:
#Getting the data
#Yield Curve Data

#Scraping this data from the URL

url = "https://home.treasury.gov/resource-center/data-chart-center/interest-rates/TextView?type=daily_treasury_yield_curve&field_tdr_date_value=all&page={}"

all_df = []
for page in range(0, 28):  
    all_df.append(pd.read_html(url.format(page))[0])

yc_df = pd.concat(all_df).reset_index(drop=True)
yc_df

,Date,20 YR,30 YR,Extrapolation Factor,8 WEEKS BANK DISCOUNT,COUPON EQUIVALENT,52 WEEKS BANK DISCOUNT,COUPON EQUIVALENT.1,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
0,01/02/1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.83,7.89,7.81,7.87,7.90,7.87,7.98,7.94,NaN,8.00
1,01/03/1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.89,7.94,7.85,7.94,7.96,7.92,8.04,7.99,NaN,8.04
2,01/04/1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.84,7.90,7.82,7.92,7.93,7.91,8.02,7.98,NaN,8.04
3,01/05/1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.79,7.85,7.79,7.90,7.94,7.92,8.03,7.99,NaN,8.06
4,01/08/1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.79,7.88,7.81,7.90,7.95,7.92,8.05,8.02,NaN,8.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8133,07/05/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.33,1.71,1.90,2.59,2.77,2.82,2.82,2.82,2.87,2.82,3.31,3.05
8134,07/06/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.36,1.70,1.90,2.62,2.82,2.97,2.99,2.96,2.99,2.93,3.42,3.14
8135,07/07/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.55,1.90,1.95,2.64,2.87,3.03,3.05,3.05,3.07,3.01,3.45,3.20
8136,07/08/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.57,1.92,1.98,2.68,2.96,3.12,3.14,3.13,3.16,3.09,3.53,3.27
8137,07/11/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.58,1.95,2.18,2.79,2.97,3.07,3.09,3.05,3.06,2.99,3.43,3.18